{% load static %}
<footer>
			<section class="container">
				<div class="row">
					<div class="col-sm-8">
						<h2>Get <span>70% Off</span> On Home Furnishing</h2>
						<p>Shof store for new living room furniture dining furniture and bedroom furniture</p>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<a href="#">GET MORE OFFERS</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<h3>ABOUT US</h3>
						<p>"At vero eos et accusarnus et iusto odio dignissimos ducimus qui blanditiis"</p>
						<p>Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
					</div>
					<div class="col-sm-4">
						<h3>CONNECT WITH US</h3>
						<p>Perspiciatis unde omnis iste natus error riam, eaque ipsa quae ab illo inventore	veritatis vitae dicta sunt explicabo.</p>
						<p><img src="http://placehold.it/20x20" alt="Location" width="20" height="20"> 24 eaque ipsa. quae inventore, India.</p>
						<p><img src="http://placehold.it/20x20" alt="E-mail" width="20" height="20"> hello@yourdomain.com</p>
						<p><img src="http://placehold.it/20x20" alt="Telephone" width="20" height="20">	(91) 0000 00000</p>
					</div>
					<div class="col-sm-4">
						<h3>NEWSLETTER</h3>
						<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain count of the system.</p>
						<form id="subscribe-form" action="action.php" method="POST">
							<input type="text" name="e-mail" placeholder="Enter Email Address...">
							<input type="submit" name="Submit" value="">
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<p>&copy;2016 Shof Store. All Rights Reserved</p>
					</div>
					<div class="col-sm-3 col-sm-offset-5">
						<ul>
							<li><a href="#"><img src="{% static 'images/imgs/imgf.png' %}" alt="Facebook link" width="19" height="19"></a></li>
							<li><a href="#"><img src="{% static 'images/imgs/l.png' %}" alt="LinkedIn link" width="19" height="19"></a></li>
							<li><a href="#"><img src="{% static 'images/imgs/p.png' %}" alt="Pinterest link" width="19" height="19"></a></li>
							<li><a href="#"><img src="{% static 'images/imgs/goo.png' %}" alt="Googleplus link" width="19" height="19"></a></li>
							<li><a href="#"><img src="{% static 'images/imgs/t.png' %}" alt="Twitter link" width="19" height="19"></a></li>
							<li><a href="#"><img src="{% static 'images/imgs/i.jpg' %}" alt="Instagram link" width="19" height="19"></a></li>
						</ul>
					</div>
				</div>
			</section>
			<script type="text/javascript" src="{% static 'js/nav-toggler.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/quantity-handler.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/hovers.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/topsearch.js' %}"></script>
	

		</footer>

</body>
</html>