{% load static %}
<header>
			<div id="mySidenav" class="sidenav">
				<div class="freedelivery">
					<img src="http://placehold.it/60x48" alt="Free Delivery on all orders over $100" width="60" height="48">
					<h3>FREE DELIVERY</h3>
					<p class="bolder">On All Orders Over $100</p>
				</div>
			  	<a href="#" class="closebtn">&times;</a>
			  	<ul id="pagesmenu">
			  		<li class="boldest">Main Navigation</li>
			  		<li><a href="index.html">Homepage 1</a></li>
			  		<li><a href="index2.html">Homepage 2</a></li>
			  		<li><a href="index3.html">Homepage 3</a></li>
			  		<li><a href="browse1.html">Portfolio Grid 1</a></li>
			  		<li><a href="browse2.html">Portfolio Grid 2</a></li>
			  		<li><a href="browse3.html">Portfolio Grid 3</a></li>
			  		<li><a href="product-page.html">Product Page</a></li>
			  		<li><a href="cart.html">Cart</a></li>
			  		<li><a href="contact.html">Contact</a></li>
			  	</ul>
			 		<ul>
					{% for category in links %}
				  	<li><a href="{{ category.get_url }}"><img src="{{ category.cat_image.url }}" alt="New" width="20" height="20">{{ category.category_name }}</a></li>
					{% endfor %}
				</ul>
				<div id="menu-social">
					<ul>
						<li><a href="#"><img src="http://placehold.it/28x28" alt="Facebook link" width="28" height="28"></a></li>
						<li><a href="#"><img src="http://placehold.it/28x28" alt="LinkedIn link" width="28" height="28"></a></li>
						<li><a href="#"><img src="http://placehold.it/28x28" alt="Pinterest link" width="28" height="28"></a></li>
						<li><a href="#"><img src="http://placehold.it/28x28" alt="Googleplus link" width="28" height="28"></a></li>
						<li><a href="#"><img src="http://placehold.it/28x28" alt="Twitter link" width="28" height="28"></a></li>
					</ul>
				</div>
			</div>
			<div id="overlay"></div>
			<section class="container-fluid">
				<div class="row" id="topbar">
					<div class="col-sm-5">
						<ul id="topleft">
							<li><a href="#" id="usa">USA <img src="http://placehold.it/7x5" alt="Arrow" width="7" height="5"></a></li>
							<li>&nbsp;|&nbsp;</li>
							<li><a href="#" id="english">English <img src="http://placehold.it/7x5" alt="Arrow" width="7" height="5"></a></li>
						</ul>
					</div>
					<div class="col-sm-7">
						<ul id="topright">
							<li>Order Direct on: 0123-456-789</li>
							<li>&nbsp;|&nbsp;</li>
							<li id="searchlink" class="searchlink withpopup"><a href="#" class="search"><img src="{% static 'images/imgs/search1.jpg' %}" alt="Search" width="14" height="14"></a>
								<div class="popup" id="searchform">
		      						<form class="search" action="{% url 'search' %}" method="GET">
		        						<input type="text" class="s" id="s" placeholder="Search..." name="keyword">
		        						<button type="submit" class="sbtn"><i class="fa fa-search"></i>Search</button>
		      						</form>
      							</div>
							</li>
							<li>&nbsp;|&nbsp;</li>
							<li id="userlink" class="userlogin withpopup"><a href="#"><img src="{% static 'images/imgs/user.png' %}" alt="User" width="14" height="14"></a>
								<div class="popup" id="usermenu">
									{% if user.id is none %}
		      						<ul>
		      							<li><a href="{% url 'login' %}">Sign in</a></li>
		      							<li><a href="{% url 'register' %}">Register</a></li>
		      						</ul>
									{% else %}
									<ul>
									<li><a href="{% url 'dashboard' %}">My account</a></li>
									<li><a href="#">Wishlists</a></li>
									<li><a href="{% url 'logout' %}">logout</a></li>
									</ul>
      							</div>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
				<div class="row pagehead">
					<div class="col-sm-2 col-xs-2">
						<div id="nav-toggle">
							<a href="#"><img src="{% static 'images/imgs/menu.jpg' %}" alt="Navigation toggler" width="28" height="26"></a><span>Menu</span>
						</div>
					</div>
					<div class="col-sm-8 col-xs-8" id="logo">
						<a href="{% url 'home' %}"><img src="{% static 'images/imgs/logo.jpg' %}" alt="Shof Store Logo"></a>
					</div>
					<div class="col-sm-1 col-sm-offset-1 col-xs-2">
						<div id="cart">
							<div id="cartitems">
								<span style="color:red">&nbsp; {{ cart_count }}</span>
							</div>
							<a href="{% url 'cart' %}"><img src="{% static 'images/imgs/cart.jpg' %}" alt="Cart" width="30" height="30"></a>
						</div>
							{% for single_product in products %}
						<div id="cartpopup">

							<h3 style="color:red">YOUR SHOPPING CART</h3><span style="cloor:red" class="bolder">{{ cart_count }}</span>

							<div class="cartitem">
								<img src="{{  single_product.images.url }}" width="100" height="100" alt="Cart Item 1"><p class="boldest"><a href="#">&times;&nbsp;</a><a href="#">{{ single_product.product_name }}</a></p>
								<p class="bolder">${{ single_product.price }}</p>
							</div>
							<p class="boldest">TOTAL IN YOUR CART &nbsp;<span class="bolder">&nbsp; ${{ grand_total }}</span></p>
							<a class="boldest" href="{% url 'cart' %}">VIEW CART</a><a class="boldest" href="{% url 'cart' %}">CHECKOUT</a>
						</div>
							{% endfor %}
					</div>
				</div>
			</section>

				<ul class="rslides">
	  				<li>
	  					<img style="height:40%" src="{% static 'images/banner/banner.jpg' %}" alt="">

	  				</li>

				</ul>


		</header>
